* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
.full_wraper {
  /* height: 50px; */
  /* background-color: aqua; */
}
.container {
  width: 1320px;
  /* height: 50px; */
  /* background-color: #492b06; */
  margin: 0 auto;
}
.clr {
  clear: both;
}
a {
  text-decoration: none;
  list-style: none;
}

/* ================common css=======  */
.logo {
  width: 20%;
  /* background-color: #061049; */
  /* height: 50px; */
  float: left;
  /* height: 100%; */
}
.manu {
  width: 80%;
  /* background-color: purple; */
  /* height: 50px; */
  float: left;
  text-align: right;
}
.logo img {
  width: 100%;
  /* height: 100%; */
}
.manu li {
  text-decoration: none;
  display: inline-block;
  /* font-size: 18px; */
  line-height: 50px;
  /* text-align: center; */
}
.manu ul {
  /* background-color: green; */
  display: inline-block;
  /* text-align: center; */
}
.manu a {
  background-color: pink;
  padding: 13px 20px;
  margin-left: 15px;
  font-size: 18px;
  font-weight: 800;
  border-radius: 5px;
  transition: 0.4s;
  color: rgb(31, 2, 58);
}
.manu a:hover {
  background-color: #492b06;
  color: #b0e72e;
}
.about_part_main {
  padding: 7px 0;
}
.image {
  width: 40%;
  float: left;
}
.image img {
  width: 100%;
  display: block;
}
.text {
  float: left;
  width: 55%;
  margin-left: 50px;
  font-size: 18px;
}
